.page-header
  %h1
    = "$#{total_earned} worth of BTC mined"
    %small (This is a work in progress.)

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Mining Stats
      %ul.list-group
        %li.list-group-item
          = "$#{current_value} per BTC"
        %li.list-group-item
          = "#{total_mined} BTC mined"
    .panel.panel-default
      .panel-heading
        Progress to Break-Even
      .panel-body
        .progress
          %span= "#{break_even_progress}%"
          .progress-bar{:role=>"progressbar", :'aria-valuenow'=>break_even_progress, :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{break_even_progress}%;"}
            %span.sr-only= "#{break_even_progress}% Complete"
        %span= "(~#{break_even} BTC to break even)"

  .col-md-3
    .well
      %a{:href=>"http://eligius.st/~wizkid057/newstats/userstats.php/#{Bitcoin::ADDRESS}"} Mining Progress
    .well
      %a{:href=>"http://bitcoinaverage.com/#USD"} Bitcoin Value
