%a{:href=>"https://github.com/dmerrick/soupstraw/tree/bitcoin_only"}
  %img{:style=>"position: absolute; top: 50px; right: 0; border: 0;", :src=>"https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt=>"Fork me on GitHub"}

.page-header
  %h1
    = "$#{total_earned} worth of BTC mined"
    %small (Updated every minute.)

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Relevant Numbers
      %ul.list-group
        %li.list-group-item
          = "#{total_mined} BTC mined"
        %li.list-group-item
          = "$#{current_value} per BTC"

    .panel.panel-default
      .panel-heading
        Progress to Break-Even
      .panel-body
        .progress
          %span= "#{break_even_progress}%"
          .progress-bar{:role=>"progressbar", :'aria-valuenow'=>break_even_progress, :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{break_even_progress}%;"}
            %span.sr-only= "#{break_even_progress}% Complete"
        %span= "(~#{break_even} BTC to break even)"

  .col-md-3
    .well.well-sm
      %a{:href=>"http://eligius.st/~wizkid057/newstats/userstats.php/#{Bitcoin::ADDRESS}"} Mining Progress
    .well.well-sm
      %a{:href=>"http://bitcoinaverage.com/#USD"} Bitcoin Value
    .panel.panel-default
      .panel-heading
        Donate
      .panel-body
        %a{:href=>"bitcoin:#{Bitcoin::ADDRESS}"}
          %img{:src=>"images/bitcoin_qr_code.png", :style=>"height: 80px; width: 80px;"}
