%a.hidden-if-mobile{:href=>"https://github.com/dmerrick/soupstraw"}
  %img{:style=>"position: absolute; top: 50px; right: 0; border: 0;", :src=>"/images/forkme_right_gray_6d6d6d.png", :alt=>"Fork me on GitHub"}

.page-header
  %h1
    = "#{usd_format(@stats.total_earned)} worth of BTC mined"
    %small (Updated every minute.)

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Relevant Numbers
      %ul.list-group
        %li.list-group-item
          %span
            %strong= "#{@stats.btc_mined}"
            BTC mined:
          %span.pull-right= "(#{@stats.btc_per_day}/day)"
        %li.list-group-item
          %span
            %strong= "#{usd_format(@stats.usd_value)}"
            per BTC:
          %span.pull-right= "(#{usd_format(@stats.usd_per_day)}/day)"

    .panel.panel-default
      .panel-heading
        Progress to Break-Even
      %ul.list-group
        %li.list-group-item
          %p
            %strong= "#{@stats.break_even}"
            BTC to break even:

          .progress
            %span.pull-right= "#{@stats.break_even_progress}%"
            .progress-bar.progress-bar-warning{:role=>"progressbar", :'aria-valuenow'=>@stats.break_even_progress, :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{@stats.break_even_progress}%;"}
              %span.sr-only= "#{@stats.break_even_progress}% Complete"

        %li.list-group-item
          %p
            %strong= "#{usd_format(@stats.break_even(:usd))}"
            USD to break even:

          .progress
            %span.pull-right= "#{@stats.break_even_progress(:usd)}%"
            .progress-bar{:role=>"progressbar", :'aria-valuenow'=>@stats.break_even_progress(:usd), :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{@stats.break_even_progress(:usd)}%;"}
              %span.sr-only= "#{@stats.break_even_progress(:usd)}% Complete"



  .col-md-3
    .well.well-sm
      %a{:href=>"http://bitcoinwisdom.com/"} Bitcoin Value Stats
    - unless @stats.new_record?
      .well.well-sm
        %a{:href=>"http://eligius.st/~wizkid057/newstats/userstats.php/#{@stats.mining_rig.wallet_address}"} Mining Pool Stats
    .well.well-sm
      %a{:href=>"http://bitcoinaverage.com/#USD"} Average Bitcoin Value
    .panel.panel-default
      .panel-heading
        Donate
      .panel-body
        %a{:href=>"bitcoin:#{MiningRig.first.wallet_address}"}
          %img{:src=>"/images/bitcoin_qr_code.png", :style=>"height: 80px; width: 80px;"}

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        USD Value of Mined Bitcoins Over Time
      .panel-body
        = line_chart @graph_payload, :library => {hAxis: {title: "Time"}, vAxis: {title: "Earned (USD)"}}