%a{:href=>"https://github.com/dmerrick/soupstraw/tree/bitcoin_only"}
  %img{:style=>"position: absolute; top: 50px; right: 0; border: 0;", :src=>"images/forkme_right_gray_6d6d6d.png", :alt=>"Fork me on GitHub"}

.page-header
  %h1
    = "$#{@stats.total_earned} worth of BTC mined"
    %small (Updated every minute.)

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Relevant Numbers
      %ul.list-group
        %li.list-group-item
          = "#{@stats.btc_mined} BTC mined"
        %li.list-group-item
          = "$#{@stats.usd_value} per BTC"

    .panel.panel-default
      .panel-heading
        Progress to Break-Even
      .panel-body
        .progress
          %span= "#{@stats.break_even_progress}%"
          .progress-bar{:role=>"progressbar", :'aria-valuenow'=>@stats.break_even_progress, :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{@stats.break_even_progress}%;"}
            %span.sr-only= "#{@stats.break_even_progress}% Complete"
        %span= "(~#{@stats.break_even} BTC to break even)"

  .col-md-3
    .well.well-sm
      %a{:href=>"http://eligius.st/~wizkid057/newstats/userstats.php/#{@stats.wallet_address}"} Mining Progress
    .well.well-sm
      %a{:href=>"http://bitcoinaverage.com/#USD"} Bitcoin Value
    .panel.panel-default
      .panel-heading
        Donate
      .panel-body
        %a{:href=>"bitcoin:#{@stats.wallet_address}"}
          %img{:src=>"images/bitcoin_qr_code.png", :style=>"height: 80px; width: 80px;"}

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        Value of Mined Bitcoins by Day
      .panel-body
        = line_chart '/total_earned.json'