.page-header
  %h1
    = "#{@title}!"
    %small Work in progress.

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        Top Earners
      %table.table.table-hover
        %tbody
          - @rigs.each do |rig|
            %tr
            %td= usd_format(rig.total_earned)
            %td
              %a{href: "/bitcoins/#{rig.id}", :class => ('text-muted' unless rig.active?)}
                = rig.name

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        BTC Mined Over Time
      .panel-body
        = line_chart @graph_payload
