.page-header
  %h1
    = "#{usd_format(@stats.total_earned)} worth of BTC mined"
    %small.hidden-if-mobile (Updated every minute.)

- if @user
  .lead= @stats.mining_rig.name


.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Relevant Numbers
      %ul.list-group
        %li.list-group-item
          %span
            %strong= "#{@stats.btc_mined}"
            BTC mined:
          %span.pull-right= "(#{@stats.btc_per_day}/day)"
        %li.list-group-item
          %span
            %strong= "#{usd_format(@stats.usd_value)}"
            per BTC:
          %span.pull-right= "(#{usd_format(@stats.usd_per_day)}/day)"
        - if @stats.usd_over_last_day
          %li.list-group-item
            %span
              %strong= "#{usd_format(@stats.usd_over_last_day)}"
              earned over the last 24 hours


    .panel.panel-default
      .panel-heading
        Progress to Break-Even

      %ul.list-group
        - if @stats.mining_rig.usd_cost
          %li.list-group-item
            %p
              - if @stats.break_even(:usd) > 0
                %strong= "#{usd_format(@stats.break_even(:usd))}"
                USD to break even:
                %span.pull-right= "#{@stats.break_even_progress(:usd)}%"
              - else
                %span.text-success
                  %strong= "#{usd_format(@stats.usd_profit)}"
                  USD in profit!
                %span.text-success.pull-right= "(#{usd_format(@stats.usd_profit_per_day)}/day)"

            .progress{:class => ('progress-striped active' if @stats.break_even_progress(:usd) < 100)}
              - if @stats.break_even_progress(:usd) > 100
                .progress-bar.progress-bar-success{:role=>"progressbar", :'aria-valuenow'=>(100 - @stats.break_even_bar_value(:usd)), :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{100 - @stats.break_even_bar_value(:usd)}%;"}
              .progress-bar{:role=>"progressbar", :'aria-valuenow'=>@stats.break_even_bar_value(:usd), :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{@stats.break_even_bar_value(:usd)}%;"}

        - if @stats.mining_rig.btc_cost
          %li.list-group-item
            %p
              - if @stats.break_even > 0
                %strong= "#{@stats.break_even}"
                BTC to break even:
                %span.pull-right= "#{@stats.break_even_progress}%"
              - else
                %span.text-success
                  %strong= "#{@stats.btc_profit}"
                  BTC in profit!
                %span.text-success.pull-right= "(#{@stats.btc_profit_per_day}/day)"

            .progress{:class => ('progress-striped active' if @stats.break_even_progress < 100)}
              - if @stats.break_even_progress > 100
                .progress-bar.progress-bar-success{:role=>"progressbar", :'aria-valuenow'=>(100 - @stats.break_even_bar_value), :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{100 - @stats.break_even_bar_value}%;"}
              .progress-bar.progress-bar-warning{:role=>"progressbar",:'aria-valuenow'=>@stats.break_even_bar_value, :'aria-valuemin'=>'0', :'aria-valuemax'=>'100', :style=>"width: #{@stats.break_even_bar_value}%;"}


  .col-md-3
    .well.well-sm
      %a{:href=>"http://bitcoinwisdom.com/"} Bitcoin Value Stats
    - unless @stats.new_record? || @stats.mining_rig.pool_name != 'eligius'
      .well.well-sm
        %a{:href=>"http://eligius.st/~wizkid057/newstats/userstats.php/#{@stats.mining_rig.wallet_address}"} Mining Pool Stats
    .well.well-sm
      %a{:href=>"http://bitcoinaverage.com/#USD"} Average Bitcoin Value
    - if @user && !@stats.new_record?
      .well.well-sm
        %a{:href=>"/graphs/#{@stats.mining_rig.id}"} Graphs
    .panel.panel-default
      .panel-heading
        Donate
      .panel-body
        %a{:href=>"bitcoin:#{MiningRig.first.wallet_address}"}
          %img{:src=>"/images/bitcoin_qr_code.png", :style=>"height: 80px; width: 80px;"}


.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        USD Value of Mined Bitcoins Over Time
      .panel-body
        = line_chart @graph_payload, :library => {hAxis: {title: "Time"}, vAxis: {title: "Earned (USD)"}}